SNOTEL/SNOTEL/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSnotelData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SnotelData" nillable="true" type="tns:SnotelData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSnotelData" nillable="true" type="tns:ArrayOfSnotelData" />
  <xs:complexType name="SnotelData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirTemp" type="xs:double" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Elevation" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Preciption" type="xs:double" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SnowDepth" type="xs:double" />
      <xs:element minOccurs="0" name="SnowWater" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SnotelData" nillable="true" type="tns:SnotelData" />
</xs:schema>